####################################
## StarCluster Configuration File ##
####################################

[global]

DEFAULT_TEMPLATE=smallcluster
ENABLE_EXPERIMENTAL=True


[aws info]
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_USER_ID= 
AWS_REGION_NAME = us-east-1


[key id_stcluster]
KEY_LOCATION=/home/username/.ssh/id_stcluster 

[cluster smallcluster]
KEYNAME = id_stcluster
CLUSTER_SIZE = 6
CLUSTER_USER = ubuntu
CLUSTER_SHELL = bash

NODE_IMAGE_ID = ami-5bd1c832
NODE_INSTANCE_TYPE = cc2.8xlarge

DISABLE_QUEUE=True

MASTER_IMAGE_ID = ami-5bd1c832
MASTER_INSTANCE_TYPE = cc2.8xlarge

AVAILABILITY_ZONE = us-east-1e

PLUGINS = sge, sge_plus

PERMISSIONS = ssh, http

SPOT_BID = 0.50

###########################################
## Defining Additional Cluster Templates ##
###########################################

[cluster tiny]

KEYNAME = id_stcluster
CLUSTER_SIZE = 2
CLUSTER_USER = ubuntu
CLUSTER_SHELL = bash

NODE_IMAGE_ID = ami-5bd1c832
NODE_INSTANCE_TYPE = cc2.8xlarge

DISABLE_QUEUE=True

MASTER_INSTANCE_TYPE = cc2.8xlarge
MASTER_IMAGE_ID = ami-5bd1c832

AVAILABILITY_ZONE = us-east-1e
PLUGINS = sge, sge_plus

PERMISSIONS = ssh, http
SPOT_BID = 0.40


#####################################
## Configuring StarCluster Plugins ##
#####################################

[plugin sge_plus]
setup_Class = sce.sge_plus.Setup

[plugin sge]
SETUP_CLASS = starcluster.plugins.sge.SGEPlugin


############################################
## Configuring Security Group Permissions ##
############################################

[permission ssh]
# protocol can be: tcp, udp, or icmp
protocol = tcp
from_port = 22
to_port = 22
# cidr_ip = <your_ip>/32

[permission http]
protocol = tcp
from_port = 8990
to_port = 8990
# cidr_ip = 18.0.0.0/24
